Як сховати заголовок (hidden це просто приклад назви класу);

.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



Стартові налаштування settings.json Live Sass Compiler плагіна {
    "liveSassCompile.settings.formats": [ {
        "format": "expanded",
            "extensionName": ".css",
            "savePath": "/css"
    }

    ,
    {
    "format": "compressed",
        "extensionName": ".min.css",
        "savePath": "/css"
}

],
"liveSassCompile.settings.excludeList": ["**/node_modules/**",
".vscode/**"],
"liveSassCompile.settings.generateMap": true,
"liveSassCompile.settings.autoprefix": ["> 1%",
"last 2 versions"]
}

linear-gradient(#2F303A66, #2F303A66)