.modal__label-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: calc(14/12);
    cursor: pointer;
    width: 100%;

    @media screen and(min-width: 480px) {
        width: 370px;
    }

    @media screen and(min-width: 1200px){
        width: 425px;
    }
}

.modal__checkbox {
    appearance: none;
    position: absolute;
}

.modal__checkbox:checked + .modal__new-checkbox{
    background-image: url(../images/icon-check.svg);
    fill: $color-accent;
}

.modal__new-checkbox {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border-radius: 2px;
    color: $text-title;
    fill: currentColor;
}

.modal__link-police {
    margin-left: 3px;
    text-decoration: underline;
    color: $color-accent;
    font-family: inherit;
    font-size: 12px;
    line-height: calc(14/12);

    @media screen and(min-width: 1200px) {
        font-size: 14px;
        line-height: calc(42 / 14);
    }
}