.block-form{
    @media screen and(min-width: 768px) and(max-width:1199px) {
        flex-basis: 100%;
    }

    @media screen and(max-width:1199px){
        text-align: center;
    }
}

.block-form__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $background-secondary;
    margin-bottom: 20px;
}

.block-form__form {
    @media screen and(min-width:1200px){
        display: flex;
    }
    
}

.block-form__lable {
    @media screen and(min-width: 1200px) {
        margin-right: 12px;
    }
}

.block-form__inpunt {
    @media screen and(max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and(min-width: 767px) and(max-width:1199px) {
        width: 450px;
    }

    @media screen and(min-width:1200px) {
        width: 358px;
    }
    
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: inherit; 
}

.block-form-submit {
    @extend %flex;
    width: 200px;
    height: 50px;
    color: $background-secondary;
    background: $color-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

    .block-form__icon-send {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        fill: $background-secondary;
    }
}