.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__menu{
    display: inline-block;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

}


.header__menu .icon-cross{
    display: none;
}

.header__menu.is-open .icon-cross{
    display: block;
}

.header__menu.is-open .icon-burger{
    display: none;
}

.header__wrap.is-open{
    display: none;
}

.header__wrap {
    display: block;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
