$text-color:#757575;
$text-title: #212121;
$color-accent:#2196F3;
$background-primary: #2F303A;
$background-secondary: #ffffff;
$background-btn: #F5F4FA;
$link-footer: rgba(255, 255, 255, 0.6);
$border-card: #EEEEEE;
$link-footer: rgba(255, 255, 255, 0.6);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$padding-section: 94px;
$border-card: #EEEEEE;
$raleway: Raleway, sans-serif;
$roboto: Roboto, sans-serif;